{%- macro to_const_name(attr_name) -%}
{{attr_name | pascal_case | replace('.', '_')}}
{%- endmacro %}

{%- macro attribute_name(attribute) -%}
{{to_const_name(attribute.name)}}{%- if "template" in attribute.type -%}_TEMPLATE{%- endif -%}
{%- endmacro -%}
