name: 'Assign Reviewers'
on:
  # pull_request_target is suggested for projects where pull requests will be
  # made from forked repositories. If pull_request is used in these cases,
  # the github token will not have sufficient permission to update the PR.
  pull_request_target:

jobs:
  assign:
    runs-on: ubuntu-22.04
    name: Assign Reviewers
    steps:
      - uses: dyladan/component-owners@main
        with:
          assign-owners: ${{ github.event.pull_request.draft == false }}
