name: Build

on:
  push:
    branches: [ 'main*', 'instrumentation*', 'exporter*', 'extensions*' ]
    paths-ignore:
    - '**.md'
    - '*/OpenTelemetry.Instrumentation.Process*/**'
    - '*/OpenTelemetry.Exporter.OneCollector*/**'
  pull_request:
    branches: [ 'main*', 'instrumentation*', 'exporter*', 'extensions*' ]
    paths-ignore:
    - '**.md'
    - '*/OpenTelemetry.Instrumentation.Process*/**'
    - '*/OpenTelemetry.Exporter.OneCollector*/**'

jobs:
  build-test:

    strategy:
      fail-fast: false # ensures the entire test matrix is run, even if one permutation fails
      matrix:
        os: [ windows-latest, ubuntu-latest ]
        version: [ net462, net6.0, net7.0 ]
        exclude:
        - os: ubuntu-latest
          version: net462

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test ${{ matrix.version }}
      run: dotnet test **/bin/**/${{ matrix.version }}/*.Tests.dll --configuration Release --no-restore --no-build --logger:"console;verbosity=detailed"
