name: Build Component

on:
  workflow_call:
    inputs:
      project-name:
        required: true
        type: string
      code-cov-name:
        required: true
        type: string
      code-cov-prefix:
        default: 'unittests'
        required: false
        type: string
      os-list:
        default: '[ "windows-latest", "ubuntu-latest" ]'
        required: false
        type: string
      tfm-list:
        default: '[ "net462", "net6.0", "net7.0", "net8.0" ]'
        required: false
        type: string

jobs:
  build-test:

    strategy:
      fail-fast: false # ensures the entire test matrix is run, even if one permutation fails
      matrix:
        os: ${{ fromJSON(inputs.os-list) }}
        version: ${{ fromJSON(inputs.tfm-list) }}
        exclude:
        - os: ubuntu-latest
          version: net462

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # fetching all, to be able to calculate package version

    - name: Setup dotnet
      uses: actions/setup-dotnet@v4

    - name: dotnet restore build/Projects/${{ inputs.project-name }}.proj
      run: dotnet restore build/Projects/${{ inputs.project-name }}.proj /p:EnablePackageValidation=true

    - name: dotnet build build/Projects/${{ inputs.project-name }}.proj
      run: dotnet build build/Projects/${{ inputs.project-name }}.proj --configuration Release --no-restore

    - name: dotnet test build/Projects/${{ inputs.project-name }}.proj
      run: dotnet test build/Projects/${{ inputs.project-name }}.proj --collect:"Code Coverage" --results-directory:TestResults --framework ${{ matrix.version }} --configuration Release --no-restore --no-build --logger:"console;verbosity=detailed" -- RunConfiguration.DisableAppDomain=true

    - name: dotnet pack build/Projects/${{ inputs.project-name }}.proj
      if: ${{ matrix.os == 'windows-latest' }}
      run: dotnet pack build/Projects/${{ inputs.project-name }}.proj --configuration Release --no-restore --no-build /p:EnablePackageValidation=true

    - name: Install coverage tool
      run: dotnet tool install -g dotnet-coverage

    - name: Merging test results
      if: ${{ hashFiles('./TestResults/**/*.coverage') != '' }}
      run: dotnet-coverage merge -f cobertura -o ./TestResults/Cobertura.xml ./TestResults/**/*.coverage

    - name: Upload code coverage ${{ inputs.code-cov-prefix }}-${{ inputs.code-cov-name }}
      if: ${{ hashFiles('./TestResults/Cobertura.xml') != '' }}
      uses: codecov/codecov-action@v4
      continue-on-error: true # Note: Don't fail for upload failures
      env:
        OS: ${{ matrix.os }}
        TFM: ${{ matrix.version }}
        token: ${{ secrets.CODECOV_TOKEN }}
      with:
        file: TestResults/Cobertura.xml
        env_vars: OS,TFM
        flags: ${{ inputs.code-cov-prefix }}-${{ inputs.code-cov-name }}
        name: Code Coverage for ${{ inputs.code-cov-prefix }}-${{ inputs.code-cov-name }} on [${{ matrix.os }}.${{ matrix.version }}]
        codecov_yml_path: .github/codecov.yml
