name: Core version update

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: 'Release tag'
        type: string

permissions:
  contents: read

jobs:
  automation:
    uses: ./.github/workflows/automation.yml
    secrets:
      OTELBOT_DOTNET_CONTRIB_PRIVATE_KEY: ${{ secrets.OTELBOT_DOTNET_CONTRIB_PRIVATE_KEY }}

  core-version-update:
    runs-on: ubuntu-24.04

    needs: automation

    if: needs.automation.outputs.enabled

    steps:
    - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
      id: otelbot-token
      with:
        app-id: ${{ vars.OTELBOT_DOTNET_CONTRIB_APP_ID }}
        private-key: ${{ secrets.OTELBOT_DOTNET_CONTRIB_PRIVATE_KEY }}

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        ref: ${{ github.event.repository.default_branch }}
        token: ${{ steps.otelbot-token.outputs.token }}

    - name: Setup dotnet
      uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

    - name: Create GitHub Pull Request to update core version in props and update CHANGELOGs in projects
      shell: pwsh
      env:
        GH_TOKEN: ${{ steps.otelbot-token.outputs.token }}
        BOT_USER_EMAIL: ${{ needs.automation.outputs.email }}
        BOT_USER_NAME: ${{ needs.automation.outputs.username }}
        TARGET_BRANCH: ${{ github.event.repository.default_branch }}
        TAG: ${{ inputs.tag }}
      run: |
        Import-Module .\build\scripts\post-release.psm1

        CreateOpenTelemetryCoreLatestVersionUpdatePullRequest `
          -gitRepository ${env:GITHUB_REPOSITORY} `
          -tag ${env:TAG} `
          -targetBranch ${env:TARGET_BRANCH} `
          -gitUserName ${env:BOT_USER_NAME} `
          -gitUserEmail ${env:BOT_USER_EMAIL}
