name: dotnet format

on:
  push:
    branches: [ 'main*', 'instrumentation*', 'exporter*', 'extensions*' ]
    paths:
    - '**.cs'
    - '.editorconfig'
  pull_request:
    branches: [ 'main*', 'instrumentation*', 'exporter*', 'extensions*' ]
    paths:
    - '**.cs'
    - '.editorconfig'

jobs:
  check-format:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@v3

    - name: Setup dotnet
      uses: actions/setup-dotnet@v3

    - name: Install dependencies
      run: dotnet restore

    - name: Protobuf compile
      run: dotnet build -t:Protobuf_Compile --no-restore
      continue-on-error: true # Note: Projects without Grpc.Tools won't have the Protobuf_Compile target which generates an error

    - name: dotnet format
      run: dotnet format opentelemetry-dotnet-contrib.sln --no-restore --verify-no-changes
