name: Lint - dotnet format

on:
  workflow_call:

permissions:
  contents: read

jobs:
  run-dotnet-format:
    runs-on: windows-latest

    steps:
    - name: check out code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Setup .NET
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0

    - name: dotnet format
      run: dotnet format opentelemetry-dotnet-contrib.slnx --verify-no-changes
