name: Integration Build OpenTelemetry.Instrumentation.StackExchangeRedis

on:
  workflow_call:
    inputs:
      job:
        required: true
        type: string

permissions:
  contents: read

jobs:
  redis-integration-test:
    if: inputs.job == 'all' || inputs.job == 'redis-integration-test'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: [net8.0, net10.0]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run redis docker compose
        run: docker compose --file=test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/docker-compose.yml --file=build/docker-compose.${{ matrix.version }}.yml --project-directory=. up --exit-code-from=tests --build

  kafka-integration-test:
    if: inputs.job == 'all' || inputs.job == 'kafka-integration-test'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: [net8.0, net10.0]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run kafka docker compose
        run: docker compose --file=test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/docker-compose.yml --file=build/docker-compose.${{ matrix.version }}.yml --project-directory=. up --exit-code-from=tests --build

  cassandra-integration-test:
    if: inputs.job == 'all' || inputs.job == 'cassandra-integration-test'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: [net8.0, net10.0]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Run cassandra docker compose
        run: docker compose --file=test/OpenTelemetry.Instrumentation.Cassandra.Tests/docker-compose.yml --file=build/docker-compose.${{ matrix.version }}.yml --project-directory=. up --exit-code-from=tests --build
