name: Integration Build OpenTelemetry.Instrumentation.StackExchangeRedis

on:
  workflow_call:
    inputs:
      job:
        required: true
        type: string

permissions:
  contents: read

jobs:
  redis-integration-test:
    if: inputs.job == 'all' || inputs.job == 'redis-integration-test'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: [net8.0, net10.0]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run redis docker compose
        run: docker compose --file=test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/docker-compose.yml "--file=build/docker-compose.${TARGET_FRAMEWORK}.yml" --project-directory=. up --exit-code-from=tests --build
        env:
          TARGET_FRAMEWORK: ${{ matrix.version }}

  kafka-integration-test:
    if: inputs.job == 'all' || inputs.job == 'kafka-integration-test'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: [net8.0, net10.0]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run kafka docker compose
        run: docker compose --file=test/OpenTelemetry.Instrumentation.ConfluentKafka.Tests/docker-compose.yml "--file=build/docker-compose.${TARGET_FRAMEWORK}.yml" --project-directory=. up --exit-code-from=tests --build
        env:
          TARGET_FRAMEWORK: ${{ matrix.version }}

  cassandra-integration-test:
    if: inputs.job == 'all' || inputs.job == 'cassandra-integration-test'
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        version: [net8.0, net10.0]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run cassandra docker compose
        run: docker compose --file=test/OpenTelemetry.Instrumentation.Cassandra.Tests/docker-compose.yml "--file=build/docker-compose.${TARGET_FRAMEWORK}.yml" --project-directory=. up --exit-code-from=tests --build
        env:
          TARGET_FRAMEWORK: ${{ matrix.version }}
