name: Integration Tests

on:
  push:
    branches: [ 'main*', 'instrumentation*', 'exporter*', 'extensions*' ]
    paths-ignore:
    - '**.md'
  pull_request:
    branches: [ 'main*', 'instrumentation*', 'exporter*', 'extensions*' ]
    paths-ignore:
    - '**.md'

jobs:
  redis-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version: [net6.0,net7.0]
    steps:
      - uses: actions/checkout@v3

      - name: Run redis docker-compose.integration
        run: docker-compose --file=test/OpenTelemetry.Instrumentation.StackExchangeRedis.Tests/docker-compose.yml --file=build/docker-compose.${{ matrix.version }}.yml --project-directory=. up --exit-code-from=tests --build
