name: Pack OpenTelemetry.Extensions

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  push:
    tags:
      - 'Extensions-*' # trigger when we create a tag with prefix "Extensions-"

jobs:
  call-build-test-pack:
    uses: ./.github/workflows/Component.Package.yml
    with:
      project: build/Projects/OpenTelemetry.Extensions.proj
    secrets: inherit
