name: Pack OpenTelemetry.SemanticConventions

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  push:
    tags:
      - 'SemanticConventions-*' # trigger when we create a tag with prefix "SemanticConventions-"

jobs:
  call-build-test-pack:
    uses: ./.github/workflows/Component.Package.yml
    with:
      project: build/Projects/OpenTelemetry.SemanticConventions.proj
    secrets: inherit
