name: Pack OpenTelemetry.Exporter.OneCollector

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  push:
    tags:
      - 'Exporter.OneCollector-*' # trigger when we create a tag with prefix "Exporter.OneCollector-"

jobs:
  call-build-test-pack:
    uses: ./.github/workflows/Component.Package.yml
    with:
      project: build/Projects/OpenTelemetry.Exporter.OneCollector.proj
    secrets: inherit
