name: Complete release

on:
  workflow_dispatch:
    inputs:
      tag:
        required: true
        description: 'Release tag'
        type: string
  release:
    types: [published]

permissions:
  contents: read

jobs:
  automation:
    uses: ./.github/workflows/automation.yml
    secrets: inherit

  post-release:
    runs-on: ubuntu-22.04

    needs:
    - automation

    if: needs.automation.outputs.enabled

    env:
      GH_TOKEN: ${{ secrets[needs.automation.outputs.token-secret-name] }}

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        # Note: By default GitHub only fetches 1 commit. We need all the tags
        # for this work.
        fetch-depth: 0
        ref: ${{ github.event.repository.default_branch }}
        token: ${{ secrets[needs.automation.outputs.token-secret-name] }}

    - name: Create GitHub Pull Request to update PackageValidationBaselineVersion in projects
      if: |
        (github.ref_type == 'tag' && !contains(github.ref_name, '-alpha') && !contains(github.ref_name, '-beta') && !contains(github.ref_name, '-rc'))
        || (inputs.tag && !contains(inputs.tag, '-alpha') && !contains(inputs.tag, '-beta') && !contains(inputs.tag, '-rc'))
      shell: pwsh
      run: |
        Import-Module .\build\scripts\post-release.psm1

        CreatePackageValidationBaselineVersionUpdatePullRequest `
          -gitRepository '${{ github.repository }}' `
          -tag '${{ inputs.tag || github.ref_name }}' `
          -targetBranch '${{ github.event.repository.default_branch }}' `
          -gitUserName '${{ needs.automation.outputs.username }}' `
          -gitUserEmail '${{ needs.automation.outputs.email }}'
