name: PR build and test

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
    - '**.md'

jobs:
  build-test:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false  # ensures the entire test matrix is run, even if one permutation fails
      matrix:
        os: [windows-latest,ubuntu-latest]
        version: [net461,netcoreapp3.1,net5.0]
        exclude:
          - os: ubuntu-latest
            version: net461

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test **/bin/**/${{ matrix.version }}/*.Tests.dll