name: Lint - Spelling & Encoding

on:
  workflow_call:

permissions:
  contents: read

jobs:
  run-misspell:
    runs-on: ubuntu-24.04

    steps:
    - name: check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: install misspell
      run: |
        curl -L -o ./install-misspell.sh https://git.io/misspell
        sh ./install-misspell.sh

    - name: run misspell
      run: ./bin/misspell -error .

  run-sanitycheck:
    runs-on: ubuntu-24.04

    steps:
    - name: check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: validate file encoding, line endings, indentation, and whitespace
      run: python3 ./build/scripts/sanitycheck.py
