# Syntax: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions
# Github Actions Stale: https://github.com/actions/stale

name: "Close stale pull requests"
on:
  schedule:
    - cron: "12 3 * * *"  # arbitrary time not to DDOS GitHub

permissions:
  contents: read

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/stale@5f858e3efba33a5ca4407a664cc011ad407f2008 # v10.1.0
        with:
          stale-pr-message: 'This PR was marked stale due to lack of activity. It will be closed in 7 days.'
          close-pr-message: 'Closed as inactive. Feel free to reopen if this PR is still being worked on.'
          operations-per-run: 400
          days-before-pr-stale: 7
          days-before-issue-stale: -1
          days-before-pr-close: 7
          days-before-issue-close: -1
          exempt-issue-labels: keep-open
          exempt-pr-labels: keep-open
