name: Lint - YAML

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-yamllint:
    runs-on: ubuntu-24.04

    steps:
    - name: check out code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: run yamllint
      run: yamllint --no-warnings .
