name: Lint - YAML

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  run-yamllint:
    runs-on: ubuntu-24.04

    steps:
    - name: check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: run yamllint
      run: yamllint --no-warnings .
